/*
  Minor styling making the layout look nice
*/

@font-face {
  font-family: 'bergen_textbold';
  src: url('fonts/mindburger_studio_-_bergen_text_bold-webfont.woff2') format('woff2'),
       url('fonts/mindburger_studio_-_bergen_text_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
}

.font-wrapper {
  padding: 0 50px;
  width: 500px;
  float: left;
  height: 500px;
}

article {
  margin: 50px 0;
}

article p {
  line-height: 28px;
}

.font-declaration {
  width: 20%;
  float: left;
  display: block;
  min-width: 60px;
  max-width: 100px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 0;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'bergen_textbold';
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  margin-top: 0;
  font-size: 3.375em;
}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}

/*
  End minor styling making the layout look nice
*/

.open-sans p {
  font-family: 'Open Sans', sans-serif;
}

.avenir p {
  font-family:'Avenir LT W01_45 Book1475508';
}

.minion p {
  font-family:'Minion W01 Cap Regular';
}

.courier p {
  font-family:'Courier PS W01';
}

.grotesk p {
  font-family:'PF Das Grotesk W01 Regular';
}

.futura p {
  font-family:'Futura LT W01 Book';
}

.sofia p {
  font-family:'Sofia W01 Regular';
}

.harmonia p {
  font-family:'HarmoniaSans W01';
}

.garamond p {
  font-family:'AdobeGaramondW01-Regula';
}

.caslon p {
  font-family:'Caslon Classico W00 Regular';
}

.century-school p {
  font-family:'NewCenturySchoolW01-Rg';
}

.adelle p {
  font-family:'Adelle W01 Regular';
}

.baskerville p {
  font-family:'Baskerville W01 Regular_705699';
}
