/*
  Minor styling making the layout look nice
*/

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.font-wrapper {
  flex: 1 1 50%;
  flex-direction: column;
}

article {
  margin: 50px 0;
}

.font-declaration {
  width: 20%;
  float: left;
  display: block;
  min-width: 60px;
  max-width: 100px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.667em;}

/*
  End minor styling making the layout look nice
*/
